/*@import url(http://fonts.googleapis.com/css?family=Tangerine);*/


body {
            margin: 0;
            padding: 0;
            color: white;
            font-family: 'Tangerine', serif;
            font-size: 24pt;
            background-color: #113366;
}

ul, li, div, p {
            margin: 0;
            padding: 0;
}

.links  {
            display: none;
}

/*
            font-family: ubuntu, sans-serif;
            background-color: black;
            font-size: 12pt;
            position: absolute;
            bottom: 0;
}*/

a       {
            color: inherit;
            text-decoration: inherit;
}

ul {
       list-style: none;
}

li {
        font-size: 18pt;
}

li li {
        font-size: 14pt;
        padding-left: 10%;
}

li li li {
        font-size: 12pt;
}

p   {
        padding-left: 10%;
}

div>p {
        border-bottom: 4px solid white;
        padding: 20px;
        padding-left: 10%;
}

.focus>p  {
        color: #ffff88;
        background-color: #071433;
        border-bottom-color: #ffff88;
}

li p:before {
        content: "\2767";
        padding: 0 15pt;
        font-size: 80%;
        font-weight: 200;
}

/* If a label has children, make it bold */

.slide>p    {
        font-weight: bold;
}


.id     {
            display: none;
}

.shortName  {
                display: none;
}


