/** SLIDE MECHANICS & TRANSITIONS **/


  /* Incremental elements */

  /* By default, visible */
  ._incremental > * { opacity: 1; }

  /* The current item */
  ._incremental > *[aria-selected] { opacity: 1; }

  /* The items to-be-selected */
  ._incremental > *[aria-selected] ~ * { opacity: 0; }

  /* The help text. Only display in overview mode */
  #help {
    display: none;
  }

  /* The progressbar, at the bottom of the slides, show the global
     progress of the presentation. */
  #progress-bar {
    height: 2px;
    background: #AAA;
  }

  /* New link. */
  #new-button {
    position: absolute;
    bottom: 70px;
    left: 1420px;
    background-color: #222;
    border: 2px outset #222;
    padding: 2px;
  }

  /* Save link. */
  #save-button {
    position: absolute;
    bottom: 40px;
    left: 1420px;
    background-color: #222;
    border: 2px outset #222;
    padding: 2px;
  }

  #save-button a, #new-button a {
    text-decoration: none;
    color: #ccc;
  }

  #save-button a:visited, #new-button a:visited {
    text-decoration: none;
    color: #ccc;
  }

  /* Slide info. */
  #slide-count {
    position: absolute;
    bottom: 10px;
    left: 1420px;
    background-color: #222;
    border: 2px outset #222;
    padding: 2px;
  }


  * { 
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  [role="note"] { display: none; }
  body {
    width: 1400px; height: 1200px;
    margin-left: -700px; margin-top: -600px;
    position: absolute; top: 50%; left: 50%;
    /*overflow: hidden;*/
    display: none;
  }

  section {
    position: absolute;
    pointer-events: none;
    width: 100%; height: 100%;
  }
  section[aria-selected] { pointer-events: auto; }
  body._loaded { display: block; }
  ._incremental {visibility: hidden; }
  ._incremental[active] {visibility: visible; }
  #progress-bar{
    bottom: 0;
    position: absolute;
    -moz-transition: width 200ms linear 0s;
    -webkit-transition: width 200ms linear 0s;
    -ms-transition: width 200ms linear 0s;
    transition: width 200ms linear 0s;
  }

