figure.x {
    background-color: black;
    width: 1400px; /* firefox and chrome disagree on what 100% means */
    height: 1201px; /* see below */
    position: fixed;
    top: -1px; /* firefox again */
    left: 0;
    z-index: -1;
}

figure.x>* {
    width: 100%; height: 100%;
}

figure.x figcaption {
    margin: 140px;
    font-size: 100px;
}

