html {
    background-color: black; counter-reset: slideidx; 
}

body {
    background-color: #002a44;
    border-radius: 12px;
    color: white;
    text-shadow: #000011 2px 2px 2px;
}

/* All slides and earlier slides */
section {
        font-family: 'Oswald', serif;
        font-size: 30px;
        left: 0;
        display: block;
        opacity: 0;

        -webkit-transition: opacity 300ms;
           -moz-transition: opacity 300ms;
            -ms-transition: opacity 300ms;
                transition: opacity 300ms;
}

/* Later slides */
section[aria-selected] section,  section[aria-selected] ~ section,  section[aria-selected] ~* section,  [aria-parent] ~ section,  [aria-parent] ~* section {
}

/* Current slide */
section[aria-selected] {
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
                transform: none;
        opacity: 1;
}


  

  /* Incremental elements */

  /* By default, visible */
  .incremental > * { opacity: 1; }

  /* The current item */
  .incremental > *[aria-selected] { opacity: 1; }

  /* The items to-be-selected */
  .incremental > *[aria-selected] ~ * { opacity: 0; }

  /* The progressbar, at the bottom of the slides, show the global
     progress of the presentation. */
  #progress-bar {
    height: 2px;
    background: #AAA;
  }


.section-head {
    text-align: center;
}

section h1 {
    /* The font from Google */
    font-family: 'Oswald', serif;
    font-size: 64px;
    margin: 32px 0;
}

section h2 {
    font-size: 32px;
}

section a {
    text-decoration: none;
    color: white;
}

section a:after {
    color: #f62;
    content: " \21e3";
    font-size: 50%;
    font-weight; bold;
}
    
section a:hover {
    color: #f62;
}

section>ul {
    list-style-type: none;
    margin: 50px 100px 50px 180px;
}

.section-head>img {
    margin: 15px;
    border: 15px solid black;
}

.section-head>video {
    border: 15px solid black;
    max-width: 800px;
    max-height: 380px;
}

section>ul li:before {
    content: "\2767";
    padding: 0 15pt;
    font-weight: 200;
}

section>ul li {
    text-indent: -80px;
}

section blockquote {
    background-color: black;
    color: white;
    font-size: 60px;
    padding: 50px;
}

section blockquote:before {
    content: open-quote;
}

section blockquote:after {
    content: close-quote;
}

section pre {
    text-align: left;
    background-color: black;
    color: #8f4;
    font-size: 20px;
    padding: 20px 0 20px 0;
}

section figure {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

section figure>* {
    width: 100%; height: 100%;
}

section figcaption {
    margin: 70px;
    font-size: 50px;
}

