/* debug
* { border:1px solid blue; }

div { border:1px solid red; }
td { border:1px solid green; }
li { border:1px solid yellow; }
h1,h2,h3,h4 { border:1px solid cyan; }
*/

html {
    background-color: black; 
}

body {
    border-radius: 24px;
    color: white;
    text-shadow: #000011 4px 4px 4px;
}



#slide-container ._section-head {
    color: #4cf;
}

#slide-container>._cs>._cs section {
    color: #ffa;
}

#slide-container>._cs>._cs>._cs section {
    color: #fc8;
}

#slide-container>._cs>._cs>._cs>._cs section {
    color: #fbb;
}

#slide-container>._cs>._cs>._cs>._cs>._cs section {
    color: #faf;
}

#slide-container>._cs ._section-head {
    color: white;
}

#slide-container>._cs>._cs ._section-head {
    color: white;
}

#slide-container>._cs>._cs>._cs ._section-head {
    color: #ffa;
}

#slide-container>._cs>._cs>._cs>._cs ._section-head {
    color: #fc8;
}

#slide-container>._cs>._cs>._cs>._cs>._cs ._section-head {
    color: #fbb;
}

#slide-container>._cs>._cs>._cs>._cs>._cs>._cs ._section-head {
    color: #faf;
}




col._left {
    width: 10%;
}

col._object {
    width: 85%;
}

col._right {
    width: 5%;
}

/* All slides and earlier slides */
section {
        font-family: 'Helvetica Light', 'Helvetica', sans-serif;
        font-weight: 200;
        font-size: 60px;
        left: 0;
        display: block;
        opacity: 0;
        background-color: #222;
        /*overflow: hidden;*/

        -webkit-transition: opacity 300ms;
           -moz-transition: opacity 300ms;
            -ms-transition: opacity 300ms;
                transition: opacity 300ms;
}

/* Later slides */
section[aria-selected] section,  section[aria-selected] ~ section,  section[aria-selected] ~* section,  [pr-parent] ~ section,  [pr-parent] ~* section {
}

/* Current slide */
section[aria-selected] {
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
                transform: none;
        opacity: 1;
}


  

  /* The progressbar, at the bottom of the slides, show the global
     progress of the presentation. */
  #progress-bar {
    height: 4px;
    background: #AAA;
  }


._section-head {
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
}

section h1 {
    font-size: 100px;
}

section h2 {
    font-size: 64px;
    margin-top: 40px;
    color: #4cf;
}

section table {
    width: 100%;
}

section td {
    vertical-align: top;
}

section a {
    color: #bdf;
}

section a[onclick] {
    text-decoration: none;
    color: inherit;
}

section a[onclick]:after {
    color: #4cf;
    content: "\00a0+";
    font-size: 75%;
    font-weight: bold;
}
    
section a:hover {
    color: #06f;
}


section img, section iframe, section video {
    border: 10px solid black;
    margin: 10px;
}

section blockquote {
    background-color: black;
    color: white;
    font-size: 120px;
    padding: 100px;
}

section blockquote:before {
    content: open-quote;
}

section blockquote:after {
    content: close-quote;
}

section q {
    display: block;
    background-color: black;
    border-radius: 30px;
    padding: 30px;
    margin: 20px;
    text-indent: 0;    
}

section q:before {
    content: open-quote;
}

section q:after {
    content: close-quote;
}

section pre {
    text-align: left;
    background-color: black;
    color: #8f4;
    font-size: 40px;
    margin: 40px 0 40px 0;
    padding: 20px;
    overflow: hidden;
}

section kbd {
    background-color: #444;
    padding: 0 20px;
}

section tt {
    font-family: monospace;
}

/* Common styles for object slides (most of them) */

._object ul {
    list-style-type: none;
    list-style-position: inside;
}

._object ul li:before {
    content: "\2767\00a0";
    font-weight: 200;
    color: #4cf;
}

._object ul li {
    margin: 20px 0;
    padding: 0 0 0 100px;
    text-indent: -100px;
}

._left {
    vertical-align: middle;
    text-align: right;
}

._right {
    vertical-align: middle;
    text-align: left;
}

._before {
    text-align: center;
    max-height: 600px;
}

._after {
    text-align: center;
    max-height: 600px;
}

._warning:before {
    content: "\26a0";
    color: #f40;
    margin-right: 0.1em;
}

._warning:after {
    content: "\26a0";
    color: #f40;
    margin-left: 0.1em;
}

._note:before {
    content: "\2744";
    color: #0c0;
    margin-right: 0.1em;
}

._note:after {
    content: "\2744";
    color: #0c0;
    margin-left: 0.1em;
}

