/* debug
* { border:1px solid blue; }

div { border:1px solid red; }
td { border:1px solid green; }
li { border:1px solid yellow; }
h1,h2,h3,h4 { border:1px solid cyan; }
*/

html {
    background-color: black; counter-reset: slideidx; 
}

body {
    background-color: #002a44;
    border-radius: 12px;
    color: white;
    text-shadow: #000011 2px 2px 2px;
}

col._left {
    width: 10%;
}

col._object {
    width: 85%;
}

col._right {
    width: 5%;
}

/* All slides and earlier slides */
section {
        font-family: 'Serif', serif;
        font-size: 30px;
        left: 0;
        display: block;
        opacity: 0;
        padding: 40px;
        overflow: hidden;

        -webkit-transition: opacity 300ms;
           -moz-transition: opacity 300ms;
            -ms-transition: opacity 300ms;
                transition: opacity 300ms;
}

/* Later slides */
section[aria-selected] section,  section[aria-selected] ~ section,  section[aria-selected] ~* section,  [aria-parent] ~ section,  [aria-parent] ~* section {
}

/* Current slide */
section[aria-selected] {
        -webkit-transform: none;
           -moz-transform: none;
            -ms-transform: none;
                transform: none;
        opacity: 1;
}


  

  /* The progressbar, at the bottom of the slides, show the global
     progress of the presentation. */
  #progress-bar {
    height: 2px;
    background: #AAA;
  }


._section-head {
    text-align: center;
    padding-bottom: 30px;
}

section h1 {
    /* The font from Google */
    font-size: 56px;
}

section h2 {
    font-size: 32px;
    margin-top: 20px;
}

section table {
    width: 100%;
}

section td {
    vertical-align: top;
}

section a {
    text-decoration: none;
    color: white;
}

section a:after {
    color: #f62;
    content: "\00a0\21e3";
    font-size: 50%;
    font-weight; bold;
}
    
section a:hover {
    color: #f62;
}


section img {
    border: 5px solid black;
}

section video {
    border: 10px solid black;
    max-width: 800px;
    max-height: 380px;
}

section blockquote {
    background-color: black;
    color: white;
    font-size: 60px;
    padding: 50px;
}

section blockquote:before {
    content: open-quote;
}

section blockquote:after {
    content: close-quote;
}

section pre {
    text-align: left;
    background-color: black;
    color: #8f4;
    font-size: 20px;
    margin: 20px 0 20px 0;
    padding: 10px;
    overflow: hidden;
}

/* Common styles for object slides (most of them) */

._object ul {
    list-style-type: none;
    list-style-position: inside;
}

._object ul li:before {
    content: "\2767\00a0";
    font-weight: 200;
}

._object ul li {
    margin: 10px 0;
    padding: 0 0 0 50px;
    text-indent: -50px;
}

._left {
    vertical-align: middle;
    text-align: right;
}

._right {
    vertical-align: middle;
    text-align: left;
}

._before {
    text-align: center;
}

._after {
    text-align: center;
}
