figure.x {
    background-color: red;
    position: absolute;
    top: 100px;
    left: 1000px;
    width: 800px;
    text-align: center;
    z-index: -1;

        -webkit-transform: rotate(45deg);
           -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg);
}

figure.x figcaption {
    font-size: 80px;
}

